.block-language-zblockNotes .markdown-embed-title {
	display: none;
}

.block-language-zblockNotes .markdown-embed-link {
	display: none;
}

.block-language-zblockNotes .markdown-embed-content {
	max-height: 75px;
	overflow: hidden;
}

.block-language-zblockNotes .markdown-embed {
	border: none;
	padding: 0;
	margin: 0;
}

.block-language-zblockNotes .zblockNotes {
	padding: 8px 20px;
	margin: 15px 0;
}

.block-language-zblockNotes .zblockNotes-title {
	margin: 0;
}

.block-language-zblockNotes .zblockNotes-link {
	text-decoration: none;
}

.block-language-zblockNotes .markdown-embed .markdown-preview-view {
	padding: 0px 10px;
}
